<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">

  function handleClick() {
    var aggFun = $('input[name=dosageopt]:checked').val();
    var mname = $('input[name=mname]').val();
    console.log("hit");
    console.log(aggFun);
    if (mname == "") {
      alert("You forgot to enter a Medication Name.");
    }
    else {
      var myAggQuery = ""
      if (aggFun === "avg") {
        myAggQuery = "SELECT avg(p_dosage) AS avgd FROM Prescription WHERE mname='" + mname + "' GROUP BY mname";
      }
      else if (aggFun === "min") {
        myAggQuery = "SELECT min(p_dosage) AS avgd FROM Prescription WHERE mname='" + mname + "' GROUP BY mname";
      }
      else if (aggFun === "max") {
        myAggQuery = "SELECT max(p_dosage) AS avgd FROM Prescription WHERE mname='" + mname + "' GROUP BY mname";
      }
      else {
        alert("There was an error with one of your inputs.");
      }
      executeAggQuery(myAggQuery);
    }
  }

  function handleNested() {
    var cond = $('input[name=cond]').val();
    if (cond == "") {
      alert("You forgot to enter a Condition.");
    }
    else {
      var myQuery = "SELECT mname, avg(p_dosage) AS avgd FROM Prescription WHERE careCardNo IN " +
      "(SELECT careCardNo FROM Patient WHERE p_condition LIKE '" + cond + "') GROUP BY mname";

      executeCondQuery(myQuery);
    }
  }

  function executeAggQuery(querystring) {
    $.ajax({
        url : "/makequery?q=" + querystring,
        type : "GET",
        async : false,
        dataType: "json",
        success: function(data)  {
            for (var i = 0; i < data.length; i++) {
                var curr = data[i]
                console.log(curr);
                $("#tableBody").append("<tr><td>" + curr.avgd + " mg</td></tr>");
            }
        }
    })
  }

  function executeCondQuery(querystring) {
    $.ajax({
        url : "/makequery?q=" + querystring,
        type : "GET",
        async : false,
        dataType: "json",
        success: function(data)  {
            for (var i = 0; i < data.length; i++) {
                var curr = data[i]
                console.log(curr);
                $("#condTable").append("<tr><td>" + curr.mname + ":  " + curr.avgd + "</td></tr>");
            }
        }
    })
  }



  </script>

  <meta charset="utf-8">
</head>
<body>

<p>Search information on dosages for a particular Medication</p>

<form action="javascript:handleClick()">
  Medication Name:<br>
  <input type="text" name="mname" value="">
  <br>
  <input type="radio" name="dosageopt" value="min">Min<br>
  <input type="radio" name="dosageopt" value="max">Max<br>
  <input type="radio" name="dosageopt" value="avg" checked>Average<br>
  <input type="submit" value="Submit" class="button">
</form>

<h2> Results </h2>
<table id="myTable" style="width:100%">
  <thead>
    <tr>
      <th>Result:</th>
    </tr>
  </thead>
  <tbody id="tableBody">

  </tbody>
</table>

<br>
<br>
<p>Search Common Treatment Options for a particular Condition:</p>

<form action="javascript:handleNested()">
  Condition:<br>
  <input type="text" name="cond" value="">
  <br>
  <input type="submit" value="Submit" class="button">
</form>

<h2> Results for Condition </h2>
<table>
  <thead>
    <tr>
      <th>Common Medications and Average Dose</th>
    </tr>
  </thead>
  <tbody id="condTable">

  </tbody>
</table>

</body>
</html>
