<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    function handleClick() {
      var careCardNo = $('input[name=care-card-number]').val();
      var firstName = $('input[name=first-name]').val();
      var lastName = $('input[name=last-name]').val();

      var whereClause = "careCardNo=" + careCardNo;
      if (careCardNo == "") {
        whereClause = "p_lname='" + lastName + "'";
      }
      if (lastName == "" && careCardNo == "") {
        whereClause = "p_fname='" + firstName + "'";
      }
      var myQuery = "SELECT * FROM Patient WHERE " + whereClause;
      $("thead th").remove();
      $('#tableBody tr').remove();
      execute(myQuery);

      return false; // prevent further bubbling of event
    }

    function execute(querystring) {
      $.ajax({
          url : "/makequery?q=" + querystring,
          type : "GET",
          async : false,
          dataType: "json",
          success: function(data)  {
            if ($('#condcheck').is(':checked') && !$('#assignedStaffCheck').is(':checked')) {
              var myHead = "<tr><th>Care Card Number</th><th>First Name</th><th>Last Name</th><th>Condition</th>" +
              "<th>Phone Number</th><th>Profile</th></tr>";
              $("#tableHead").append(myHead);
            }
            else if (!$('#condcheck').is(':checked') && $('#assignedStaffCheck').is(':checked')){
                var myHead = "<tr><th>Care Card Number</th><th>First Name</th><th>Last Name</th><th>Assigned Doctor ID</th><th>Assigned Nurse ID</th>" +
                        "<th>Phone Number</th><th>Profile</th></tr>";
                $("#tableHead").append(myHead);
            }
            else if($('#condcheck').is(':checked') && $('#assignedStaffCheck').is(':checked')){
                var myHead = "<tr><th>Care Card Number</th><th>First Name</th><th>Last Name</th><th>Condition</th><th>Assigned Doctor ID</th><th>Assigned Nurse ID</th>" +
                        "<th>Phone Number</th><th>Profile</th></tr>";
                $("#tableHead").append(myHead);
            }
            else {
              var myHead = "<tr><th>Care Card Number</th><th>First Name</th><th>Last Name</th>" +
              "<th>Phone Number</th><th>Profile</th></tr>";
              $("#tableHead").append(myHead);
            }
            for (var i = 0; i < data.length; i++) {
    	         var curr = data[i]

               if ($('#condcheck').is(':checked') && !$('#assignedStaffCheck').is(':checked')) {
                 var stringElem = "<tr><td>" + JSON.stringify(curr.careCardNo) + "</td><td>" +
                 JSON.stringify(curr.p_fname) + "</td><td>" + JSON.stringify(curr.p_lname) +
                 "</td><td>" + JSON.stringify(curr.p_condition) + "</td><td>" + JSON.stringify(curr.phone_number) +
                 "</td><td><a href='/patientProfile?ccn=" + curr.careCardNo + "'>Profile</a></td></tr>";

                 $("#tableBody").append(stringElem);
               }
               else if(!$('#condcheck').is(':checked') && $('#assignedStaffCheck').is(':checked')){
                   var stringElem = "<tr><td>" + JSON.stringify(curr.careCardNo) + "</td><td>" +
                           JSON.stringify(curr.p_fname) + "</td><td>" + JSON.stringify(curr.p_lname) +
                           "</td><td>" + JSON.stringify(curr.d_id) + "</td><td>" + JSON.stringify(curr.n_id) + "</td><td>" + JSON.stringify(curr.phone_number) +
                           "</td><td><a href='/patientProfile?ccn=" + curr.careCardNo + "'>Profile</a></td></tr>";
                   $("#tableBody").append(stringElem);

               }
               else if($('#condcheck').is(':checked') && $('#assignedStaffCheck').is(':checked')){
                   var stringElem = "<tr><td>" + JSON.stringify(curr.careCardNo) + "</td><td>" +
                           JSON.stringify(curr.p_fname) + "</td><td>" + JSON.stringify(curr.p_lname) +
                           "</td><td>" + JSON.stringify(curr.p_condition) + "</td><td>" + JSON.stringify(curr.d_id) + "</td><td>" + JSON.stringify(curr.n_id) + "</td><td>" + JSON.stringify(curr.phone_number) +
                           "</td><td><a href='/patientProfile?ccn=" + curr.careCardNo + "'>Profile</a></td></tr>";
                   $("#tableBody").append(stringElem);
               }
               else {
                 var stringElem = "<tr><td>" + JSON.stringify(curr.careCardNo) + "</td><td>" +
                 JSON.stringify(curr.p_fname) + "</td><td>" + JSON.stringify(curr.p_lname) +
                 "</td><td>" + JSON.stringify(curr.phone_number) +
                 "</td><td><a href='/patientProfile?ccn=" + curr.careCardNo + "'>Profile</a></td></tr>";

                 $("#tableBody").append(stringElem);
               }
             }
           }
        })
    }
  </script>

  <meta charset="utf-8">
</head>
<body>

<p>Search for a patient</p>

<form action="javascript:handleClick()">
  Care Card Number:<br>
  <input type="text" name="care-card-number" value="">
  <br>
  First Name:<br>
  <input type="text" name="first-name" value="">
  <br>
  Last Name:<br>
  <input type="text" name="last-name" value="">
  <br>
  <input id="condcheck" type="checkbox" name="cond" value="yes" checked> Show Condition?<br>
  <br>
  <input id="assignedStaffCheck" type="checkbox" name="cond" value="yes" checked> Show Assigned Staff?<br>
  <br>
  <input type="submit" value="Submit" class="button">
</form>

<h2> Results </h2>
<table id="myTable" style="width:100%">
  <thead id="tableHead">

  </thead>
  <tbody id="tableBody">

  </tbody>
</table>

</body>
</html>
