<!DOCTYPE html>
<html>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/stylesheets/main.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      if((window.location.href).indexOf('?') != -1) {
        var queryString = (window.location.href).substr((window.location.href).indexOf('?') + 1);
        var careCardNo = (queryString.split('='))[1];
        var myQuery = "SELECT * FROM Patient NATURAL JOIN Prescription WHERE careCardNo='" + careCardNo + "'";
        execute(myQuery);
        var myHistoryQuery = "SELECT * FROM DrugIntakeEvent WHERE careCardNo='" + careCardNo + "'";
        executeHistory(myHistoryQuery);
        var myStaffQuery = "SELECT h1.eID as n_id, h1.e_fname n_fname, h1.e_lname as n_lname, h2.eID as d_id, h2.e_fname as d_fname, h2.e_lname as d_lname FROM Patient p JOIN HospitalStaff h1 JOIN HospitalStaff h2 WHERE p.n_id = h1.eID AND p.d_id = h2.eID AND p.careCardNo='" + careCardNo + "'";
        executeAssignedStaff(myStaffQuery);

      }
    });

    function execute(querystring) {
      $.ajax({
          url : "/makequery?q=" + querystring,
          type : "GET",
          async : false,
          dataType: "json",
          success: function(data)  {
          for (var i = 0; i < data.length; i++) {
    	      var curr = data[i]
            $("#ccn").append("<td>" + curr.careCardNo + "</td>");
            $("#fname").append("<td>" + curr.p_fname + "</td>");
            $("#lname").append("<td>" + curr.p_lname + "</td>");
            $("#cond").append("<td>" + curr.p_condition + "</td>");
            $("#pnum").append("<td>" + curr.phone_number + "</td>");
            $("#bnum").append("<td>" + curr.bID + "</td>");
            // $("#rnum").append("<td>" + curr.roomID + "</td>");

            var prescriptString = "<tr><td>" + JSON.stringify(curr.mname) + "</td><td>" +
            JSON.stringify(curr.p_date) + "</td><td>" + JSON.stringify(curr.p_interval) +
            "</td><td>" + JSON.stringify(curr.p_dosage) + "</td><td>" + JSON.stringify(curr.last_taken) +
            "</td><td>" + JSON.stringify(curr.last_taken) + "</td></tr>";

            $("#prescription-info").append(prescriptString);
          }
        }
        })
    }

    function executeHistory(querystring) {
      $.ajax({
          url : "/makequery?q=" + querystring,
          type : "GET",
          async : false,
          dataType: "json",
          success: function(data)  {
          var dosageArray = [];
          for (var i = 0; i < data.length; i++) {
    	      var curr = data[i]
            dosageArray.push(curr.d_dosage);
            var drugintakeString = "<tr><td>" + JSON.stringify(curr.mname) + "</td><td>" +
            JSON.stringify(curr.di_date) + "</td><td>" + JSON.stringify(curr.eID) +
            "</td><td>" + JSON.stringify(curr.d_dosage) + "</td></tr>";

            $("#intake-history").append(drugintakeString);
          }
          //printRadio(dosageArray);
        }
        })
    }


    function executeAssignedStaff(querystring) {
        $.ajax({
            url : "/makequery?q=" + querystring,
            type : "GET",
            async : false,
            dataType: "json",
            success: function(data)  {
                for (var i = 0; i < data.length; i++) {
                    var curr = data[i]
                    $("#doctor-info").append("<td>" + curr.d_id + "</td>");
                    $("#doctor-info").append("<td>" + curr.d_fname + "</td>");
                    $("#doctor-info").append("<td>" + curr.d_lname + "</td>");
                    $("#nurse-info").append("<td>" + curr.n_id + "</td>");
                    $("#nurse-info").append("<td>" + curr.n_fname + "</td>");
                    $("#nurse-info").append("<td>" + curr.n_lname + "</td>");

                }
            }
        })
    }



    function changeNurse(){
        var nurseId = prompt("Please enter the ID of the nurse to switch to", "86");
        if(nurseId !=null){
            querystring = "SELECT * FROM Nurse WHERE eID = '" + nurseId + "'";
            $.ajax({
                url : "/makequery?q=" + querystring,
                type : "GET",
                async : false,
                dataType: "json",
                success: function(data)  {
                    if(data.length === 0){
                        alert("There is no nurse with this ID!");
                        changeNurse();
                    }
                }
            })
            querystring = "UPDATE Patient SET n_id = '" + nurseId + "' WHERE careCardNo = '" + $("#ccn td").text() +"'";
            $.ajax({
                url : "/makequery?q=" + querystring,
                type : "GET",
                async : false,
                dataType: "json",
                success: function(data)  {

                }
            })
            querystring = "SELECT * FROM HospitalStaff WHERE eID = '" + nurseId + "'";
            $.ajax({
                url : "/makequery?q=" + querystring,
                type : "GET",
                async : false,
                dataType: "json",
                success: function(data)  {
                    for (var i = 0; i < data.length; i++) {
                        var curr = data[i];
                        $("#nurse-info").empty();
                        $("#nurse-info").append("<td>" + curr.eID + "</td>");
                        $("#nurse-info").append("<td>" + curr.e_fname + "</td>");
                        $("#nurse-info").append("<td>" + curr.e_lname + "</td>");

                    }
                }
            })
        }

    }

    function getNextDose(lastTaken, interval) {

    }
  </script>
<body>

<h4>Basic Information:</h4>
<table id="basic-info">
  <tr>
    <td id="ccn">Care Card Number:</td>

  </tr>
  <tr>
    <td id="fname">First Name:</td>

  </tr>
  <tr>
    <td id="lname">Last Name:</td>

  </tr>
  <tr>
    <td id="cond">Condition:</td>

  </tr>
  <tr>
    <td id="pnum">Phone Number:</td>

  </tr>
</table>

<h4>Doctor</h4>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody id="doctor-info"></tbody>
</table>

<h4>Nurse</h4>
<table id="nurse-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody id="nurse-info"></tbody>
</table>
<a href ="javascript:void(0);" onClick="changeNurse()">Change Nurse</a>


<h4>Bed:</h4>
<table id="bed-info">
  <tr>
    <td id="bnum">Bed:</td>

  </tr>
  <tr>
    <td id="rnum">Room:</td>

  </tr>
</table>

<h4>Prescriptions:</h4>
<table>
  <thead>
    <tr>
      <th>Medication</th>
      <th>Date Issued</th>
      <th>Interval (hours)</th>
      <th>Dosage (mg)</th>
      <th>Last Taken</th>
      <th>Next Dose</th>
    </tr>
  </thead>
  <tbody id="prescription-info">

  </tbody>
</table>

<h4>Drug Intake History:</h4>
<table>
  <thead>
    <tr>
      <th>Medication</th>
      <th>Taken On</th>
      <th>Nurse</th>
      <th>Dosage (mg)</th>
    </tr>
  </thead>
  <tbody id="intake-history">

  </tbody>
</table>
</body>
</html>
