<!DOCTYPE html>
<html>
<body>

<p>Give medication to a patient.</p>

<form action="">
  Care Card Number:<br>
  <input type="text" name="eid" value="">
  <br>
  Medication:<br>
  <input type="text" name="eid" value="">
  <br>
  Interval (hours):<br>
  <input type="text" name="eid" value="">
  <br>
  Dosage (mg):<br>
  <input type="text" name="eid" value="">
  <br>
  Your Employee ID:<br>
  <input type="text" name="eid" value="">
  <br>
  <br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
