<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="landing.js" type="text/javascript"></script>
  <meta charset="utf-8">
</head>
<body>

<p>See the prescriptions a doctor has made.</p>

<form action="">
  Doctor's Employee ID:<br>
  <input type="text" name="doctor-eid" value="">
  <br>
  <br>
  <input type="submit" value="Search" class="button">
</form>

<h2> Results for Brian Johnson (ID # 123):  </h2>

<table style="">
  <tr>
    <th>Date Prescribed</th>
    <th>Patient Care Card Number</th>
    <th>Patient First Name</th>
    <th>Patient Last Name</th>
    <th>Patient Condition</th>
    <th>Medication</th>
    <th>Interval (hours)</th>
    <th>Dosage (mg)</th>
  </tr>
  <tr>
    <td>Aug. 12, 2016</td>
    <td>3042 302 321</td>
    <td>Leonard</td>
    <td>Kevinstone</td>
    <td>Flu</td>
    <td>Relenza</td>
    <td>12</td>
    <td>25</td>
  </tr>
  <tr>
    <td>Aug. 12, 2016</td>
    <td>3022 123 374</td>
    <td>Joshua</td>
    <td>Largini</td>
    <td>Flu</td>
    <td>Antiflu</td>
    <td>12</td>
    <td>20</td>
  </tr>
  <tr>
    <td>Jul. 23, 2016</td>
    <td>1124 302 434</td>
    <td>Marge</td>
    <td>Hill</td>
    <td>Stomachache</td>
    <td>TuZen</td>
    <td>24</td>
    <td>50</td>
  </tr>
</table>

</body>
</html>
