<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>

<p>Search for a patient</p>

<form action="">
  Care Card Number:<br>
  <input type="text" name="care-card-number" value="">
  <br>
  First Name:<br>
  <input type="text" name="first-name" value="">
  <br>
  Last Name:<br>
  <input type="text" name="last-name" value="">
  <br>
  <br>
  <input type="submit" value="Submit">
</form>

<p> Results </p>
<table style="width:100%">
  <tr>
    <th>Care Card Number</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Condition</th>
    <th>Phone Number</th>
    <th>Profile</th>
  </tr>
  <tr>
    <td>1203 349 222</td>
    <td>Jones</td>
    <td>Smith</td>
    <td>Broken Leg</td>
    <td>604-930-2034</td>
    <td><a href="#">Profile</a></td>
  </tr>
  <tr>
    <td>5431 329 302</td>
    <td>James</td>
    <td>Fareed</td>
    <td>Flu</td>
    <td>778-123-2839</td>
    <td><a href="#">Profile</a></td>
  </tr>
</table>

</body>
</html>
