<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
<table id="basic-info">
  <tr>
    <td>Care Card Number:</td>
    <td>1203 349 222</td>
  </tr>
  <tr>
    <td>First Name:</td>
    <td>Jones</td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td>Smith</td>
  </tr>
  <tr>
    <td>Condition:</td>
    <td>Broken Leg</td>
  </tr>
  <tr>
    <td>Phone Number:</td>
    <td>604-930-2034</td>
  </tr>
</table>

<table id="bed-info">
  <tr>
    <td>Bed:</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Room:</td>
    <td>10</td>
  </tr>
</table>

<table id="prescription-info">
  <tr>
    <th>Medication</th>
    <th>Date Issued</th>
    <th>Interval (hours)</th>
    <th>Dosage (mg)</th>
    <th>Last Taken</th>
    <th>Next Dose</th>
  </tr>
  <tr>
    <td>Amoxacillin</td>
    <td>Oct. 31, 2016</td>
    <td>12</td>
    <td>30</td>
    <td>Nov. 22, 2016 8:53pm</td>
    <td>Nov. 23, 2016 8:53am</td>
  </tr>
</table>

<table id="intake-history">
  <tr>
    <th>Medication</th>
    <th>Taken On</th>
    <th>Nurse</th>
    <th>Dosage (mg)</th>
  </tr>
  <tr>
    <td>Amoxacillin</td>
    <td>Nov. 22, 2016 8:53pm</td>
    <td>Maureen Williams</td>
    <td>30mg</td>
  </tr>
  <tr>
    <td>Amoxacillin</td>
    <td>Nov. 22, 2016 7:01am</td>
    <td>Maureen Williams</td>
    <td>30mg</td>
  </tr>
  <tr>
    <td>Hydrocodone</td>
    <td>Oct. 10, 2016 7:00am</td>
    <td>Coretta Scott</td>
    <td>15mg</td>
  </tr>
</table>
</body>
</html>
