<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>

<p>See common treatments for conditions.</p>

<form action="">
  Condition:<br>
  <input type="text" name="condition" value="">
  <br>
  <br>
  <input type="submit" value="Search">
</form>

<p> Results: Flu </p>
<table style="">
  <tr>
    <th>Rank</th>
    <th>Medication</th>
    <th># times prescribed for this condition</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Antiflu</td>
    <td>15</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Relenza</td>
    <td>6</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Tamiflu</td>
    <td>5</td>
  </tr>
</table>

</body>
</html>
